spring:
  application:
    name: todo-list

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/todo_list?useTimezone=true&serverTimezone=UTC
    username: root
    password: 12345678

  jpa:
    hibernate:
       ddl-auto: none
    properties:
        hibernate:
    show-sql: false
    open-in-view: false
